/.quarto/
/Brian_Zanfelice.code-workspace
/Brian_Zanfelice.aux
/Brian_Zanfelice.log
/Brian_Zanfelice.idx
/Brian_Zanfelice.tex
/.DS_Store
*.pdf
*.lop
*.aux
*.idx
digital_twin/convert_utils/__pycache__/
*.parquet
.DS_Store